#root {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

.scroll-thin::-webkit-scrollbar {
  width: 8px;
}
.scroll-thin::-webkit-scrollbar-track {
  background: transparent;
}
.scroll-thin::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 4px;
}

.clip-circle {
  background: radial-gradient(
    circle at center,
    transparent 220px,
    rgb(68, 71, 84) 0%
  );
}
